<div id="<%= dom_id brewer %>" class="card col-6">
<div class="card-header">Brewer</div>
<div class="card-body">
  <h5 class="card-title"> 
    <%= brewer.first_name %>
    <%= brewer.last_name %> 
  </h5>
  <p>
    <strong>Club:</strong>
    <%= brewer.club %>
  </p>
  <!-- Put the rank and Titles hear -->
</div>
</div>
