<div id="<%= dom_id brewer %>">
  <p>
    <strong>First name:</strong>
    <%= brewer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= brewer.last_name %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= brewer.club %>
  </p>

</div>
