<div id="<%= dom_id score_sheet %>">
  <p>
    <strong>Category:</strong>
    <%= score_sheet.category %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= score_sheet.score %>
  </p>

  <p>
    <strong>Brewer:</strong>
    <%= score_sheet.brewer_id %>
  </p>

</div>
