<h1>Editing score sheet</h1>

<%= render "form", score_sheet: @score_sheet %>

<br>

<div>
  <%= link_to "Show this score sheet", @score_sheet %> |
  <%= link_to "Back to score sheets", score_sheets_path %>
</div>
